USE [StudentDB]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 10/30/2021 5:14:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleCode_PK] [int] NOT NULL,
	[ModuleName] [varchar](50) NOT NULL,
	[ModuleDescription] [varchar](50) NOT NULL,
	[Resource] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[ModuleCode_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 10/30/2021 5:14:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblStudent](
	[stdNumber] [int] NOT NULL,
	[stdName] [varchar](50) NOT NULL,
	[stdSurname] [varchar](50) NOT NULL,
	[stdImg] [image] NULL,
	[DOB] [varchar](50) NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[address] [varchar](50) NOT NULL,
	[ModuleCode_FK] [int] NOT NULL,
 CONSTRAINT [PK_tblStudent] PRIMARY KEY CLUSTERED 
(
	[stdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Module] ([ModuleCode_PK], [ModuleName], [ModuleDescription], [Resource]) VALUES (1, N'math', N'dealing with numbers and letters', N'https://youtu.be/HPsazrVSjl8')
INSERT [dbo].[Module] ([ModuleCode_PK], [ModuleName], [ModuleDescription], [Resource]) VALUES (2, N'English', N'dealing with the english language', N'https://youtu.be/HV6h7MRrRNA')
INSERT [dbo].[Module] ([ModuleCode_PK], [ModuleName], [ModuleDescription], [Resource]) VALUES (3, N'JavaScript', N'Using Html and JS to make wensite', N'https://youtu.be/W6NZfCO5SIk')
INSERT [dbo].[tblStudent] ([stdNumber], [stdName], [stdSurname], [stdImg], [DOB], [gender], [phone], [address], [ModuleCode_FK]) VALUES (1, N'Joshua', N'Bharath', 0x53797374656D2E427974655B5D, N'10/12/2021', N'Male', N'7864736251', N'57 Sloan Street Brynston', 5)
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_Module] FOREIGN KEY([ModuleCode_FK])
REFERENCES [dbo].[Module] ([ModuleCode_PK])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_Module]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_tblStudent] FOREIGN KEY([stdNumber])
REFERENCES [dbo].[tblStudent] ([stdNumber])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_tblStudent]
GO
